# -*- encoding: utf-8 -*-
##############################################################################
#
#    Travis Config File for GRAP
#    Copyright (C) 2013-2014 GRAP (http://www.grap.coop)
#    @author Sylvain LE GAL (https://twitter.com/legalsylvain)
#    Based on the work of Sandy Carter (https://github.com/bwrsandman)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################

language: python

python:
    - "2.7"

env:
    - ODOO="https://github.com/savoirfairelinux/odoo/archive/setuptools-addons.tar.gz"

# Need coveralls for coverage reports
# Need flake8 for pep8 testing
# Manually get PyChart
# Install tested version of odoo (official or ocb)
# Get modules from other repos which have dependencies (in this case travel requires modules from lp:partner-contact-management and lp:openerp-hr
install: 
# Install Test librairies
    - pip install coveralls
    - pip install flake8
# Install OCB branches used in production
#    - bzr branch --stacked lp:~ocb/ocb-server/7.0 ~/ocb-server
#    - bzr branch --stacked lp:~ocb/ocb-addons/7.0 ~/ocb-addons
#    - bzr branch --stacked lp:~ocb/ocb-web/7.0 ~/ocb-web
# Install Community branches used in production
    # TODO
# Install Custom branches used in production
    - bzr branch --stacked lp:~ocb/openerp-addons-cis/7.0 ~/openerp-addons-cis
    - bzr branch --stacked lp:~ocb/openerp-addons-grap/7.0 ~/openerp-addons-grap
#    - pip install http://download.gna.org/pychart/PyChart-1.39.tar.gz
#    - pip install ${ODOO}
#    - bzr branch --stacked lp:partner-contact-management ~/partner-contact-management
#    - bzr branch --stacked lp:openerp-hr ~/openerp-hr

# Create database
# Pre-install modules and dependencies
before_script: 
    - createdb test

# Test with flake, ignore F401 for __init__.py files
# Test with flake, ignore F841 for other files
## Run tests with coverage
## Due to oddness of the odoo setup.py process, assure that import openerp gets it from env/openerp and not env/lib/python2.7/site-packages/openerp
## only test modules in repo (list populated by directories in repo)
## preload modules before testing to only run tests of repo's modules
## include current director and dependent repos in addons-path
script:
# Flake8 for all the custom modules
    - flake8 ~/openerp-addons-cis ~/openerp-addons-grap --filename=__init__.py --ignore=F401
    - flake8 ~/openerp-addons-cis ~/openerp-addons-grap --exclude=__init__.py --ignore=F841
#    - odoo.py --stop-after-init --init=$(python -c 'import os; print(",".join(x for x in os.listdir(".") if os.path.isdir(x) and not x.startswith(".")))') --addons-path=$(pwd),$VIRTUAL_ENV/addons #,~/partner-contact-management,~/openerp-hr
#    - coverage run $(which odoo.py) --test-enable --log-level=test --stop-after-init --init=$(python -c 'import os; print(",".join(x for x in os.listdir(".") if os.path.isdir(x) and not x.startswith(".")))') --addons-path=$(pwd),$VIRTUAL_ENV/addons #,~/partner-contact-management,~/openerp-hr

after_success:
  coveralls
