# -*- encoding: utf-8 -*-
##############################################################################
#
#    Travis Config File for GRAP
#    Copyright (C) 2013-2014 GRAP (http://www.grap.coop)
#    @author Sylvain LE GAL (https://twitter.com/legalsylvain)
#    Based on the work of Sandy Carter (https://github.com/bwrsandman)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################

language: python

python:
    - "2.7"

install: 
# Install Test librairies
    - pip install -q coveralls flake8
# Install OCB branches used in production
    - bzr branch --stacked lp:~ocb/ocb-server/7.0 ~/ocb-server
    - bzr branch --stacked lp:~ocb/ocb-addons/7.0 ~/ocb-addons
    - bzr branch --stacked lp:~ocb/ocb-web/7.0 ~/ocb-web

# Install Community branches used in production
    - bzr branch --stacked lp:server-env-tools/7.0 ~/server-env-tools
    - bzr branch --stacked lp:web-addons/7.0 ~/web-addons

# Install Custom branches used in production
    - bzr branch --stacked lp:openerp-addons-cis/7.0 ~/openerp-addons-cis
    - bzr branch --stacked lp:openerp-addons-grap/7.0 ~/openerp-addons-grap

# Create database for test
before_script: 
    - createdb database_test

# Flake8 Note:
#   ignore F401 for __init__.py files;
#   ignore F841 for other files;
script:
# Flake8 Community modules used in production
# TODO: make this module flake8 compliant
#    - flake8 --filename=__init__.py --ignore=F401 ~/server-env-tools/auth_admin_passkey ~/server-env-tools/disable_openerp_online
#    - flake8  --exclude=__init__.py --ignore=F841 ~/server-env-tools/auth_admin_passkey ~/server-env-tools/disable_openerp_online
# TODO: make this module flake8 compliant
#    - flake8 --filename=__init__.py --ignore=F401 ~/server-env-tools/auth_admin_passkey ~/server-env-tools/disable_openerp_online ~/web-addons/web_ckeditor4 ~/web-addons/web_confirm_window_close ~/web-addons/web_export_view ~/web-addons/web_popup_large ~/web-addons/web_widget_float_formula
#    - flake8  --exclude=__init__.py --ignore=F841 ~/server-env-tools/auth_admin_passkey ~/server-env-tools/disable_openerp_online ~/web-addons/web_ckeditor4 ~/web-addons/web_confirm_window_close ~/web-addons/web_export_view ~/web-addons/web_popup_large ~/web-addons/web_widget_float_formula

# Flake8 all the custom modules
# TODO: make this module flake8 compliant
#    - flake8 --filename=__init__.py --ignore=F401 ~/openerp-addons-cis ~/openerp-addons-grap
#    - flake8  --exclude=__init__.py --ignore=F841 ~/openerp-addons-cis ~/openerp-addons-grap

# Installation Test
    - python ~/ocb-server/openerp-server --stop-after-init --init=$(python -c 'import os; print(",".join(x for x in os.listdir(".") if os.path.isdir(x) and not x.startswith(".")))') --addons-path=$(pwd),./ocb-addons,./ocb-web/addons
#    - coverage run $(which odoo.py) --test-enable --log-level=test --stop-after-init --init=$(python -c 'import os; print(",".join(x for x in os.listdir(".") if os.path.isdir(x) and not x.startswith(".")))') --addons-path=$(pwd),$VIRTUAL_ENV/addons #,~/partner-contact-management,~/openerp-hr

#after_success:
#  coveralls
