# -*- encoding: utf-8 -*-
##############################################################################
#
#    Travis and Coveralls Configuration
#    Copyright (C) 2013-2014 GRAP (http://www.grap.coop)
#    @author Sylvain LE GAL (https://twitter.com/legalsylvain)
#    Based on the work of Sandy Carter (https://github.com/bwrsandman)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################

language: python

python:
    - "2.7"

install: 
# Install librairies for Tests
    - pip install -q coveralls flake8

# Install Librairies for Odoo
    - pip install -q python-dateutil feedparser gdata python-ldap lxml mako python-openid psycopg2 babel pydot pyparsing reportlab simplejson vatnumber vobject python-webdav werkzeug xlwt unittest2 docutils jinja2 mock psutil pygments roman fpconst soappy cairosvg
    - pip install -q http://download.gna.org/pychart/PyChart-1.39.tar.gz

# Install openerp-command branch to run tests
    - bzr branch --stacked lp:~openerp/openerp-command/7.0 ./openerp-command

# Install OCB branches used in production
    - bzr branch --stacked lp:~ocb/ocb-server/7.0 ./ocb-server
    - bzr branch --stacked lp:~ocb/ocb-addons/7.0 ./ocb-addons
    - bzr branch --stacked lp:~ocb/ocb-web/7.0 ./ocb-web

# Install Community branches used in production
    - bzr branch --stacked lp:server-env-tools/7.0 ./server-env-tools
    - bzr branch --stacked lp:web-addons/7.0 ./web-addons

# Install Custom branches used in production
    - bzr branch --stacked lp:openerp-addons-cis/7.0 ./openerp-addons-cis
    - bzr branch --stacked lp:openerp-addons-grap/7.0 ./openerp-addons-grap

# Create database for test
before_script:
    - echo "Tested Repositories"
    - python -c 'import config; print(config.ADDONS_LIST)'
    - echo "Tested Modules"
    - python -c 'import config; print(config.MODULES_LIST)'
    - createdb $(python -c 'import config; print(config.DATABASE_NAME)')


script:
# Flake8: ignore F401 for __init__.py files; ignore F841 for other files;
###    - python ./check_flake8.py

# Installation Test
    - python ./check_install.py
    - python ./check_test_all.py
    - python ./check_test_distinct.py

after_success:
    coveralls
